<h1>Admin Settings</h1>

<div class="input-form">
    <form name="admin-settings" action="/admin" method="post">


        <label for="name">Company Name</label>
        <input type="text" name="name" value="{{data.name}}" placeholder="Entity Name" required>


        <label for="address">Street</label>
        <input type="text" name="data[address][street]" value="{{data.data.address.street}}" placeholder="Address"
            required>

        <label for="city">City</label>
        <input type="text" name="data[address][city]" value="{{data.data.address.city}}" placeholder="City" required>

        <label for="state">State</label>
        <input type="text" name="data[address][state]" value="{{data.data.address.state}}" placeholder="State" required>

        <label for="zip">Zip</label>
        <input type="text" name="data[address][zip]" value="{{data.data.address.zip}}" placeholder="Zip" required>

        <br />
        <hr />
        <button class="button-lg" type="submit">Save</button>
    </form>
</div>