<h1>Billing for {{company}}</h1>

<table>
    <tr>
        <th>Invoice Number</th>
        <th>Client Name</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    {{#each data as |bill|}}
    <tr>
        <td>{{bill.invoice_number}}</td>
        <td>{{bill.client_name}}</td>
        <td>{{bill.date}}</td>
        <td class="right-align">{{bill.amount}}</td>
    </tr>
    {{/each}}
</table>

<button id="add-billing" class="button-lg">+</button>

<div class="input-form" id="add-billing-form" style="display: none;">
    <form id="billing" method="POST" action="/billing">
        <h3>Add a new invoice</h3>
        <label for="invoice_number">Invoice Number</label>
        <input type="text" name="invoice_number" required maxlength="50" />
        <label for="client_name">Client Name</label>
        <input type="text" name="client_name" required maxlength="50" />
        <label for="date">Date</label>
        <input type="date" name="date" required />
        <label for="amount">Amount</label>
        <input type="number" name="amount" required min="0" step="0.01" />
        <button class="button-lg" type="submit">Add Invoice</button>
    </form>
</div>

<script>
    document.getElementById('add-billing').addEventListener('click', function() {
        document.getElementById('add-billing-form').style.display = 'block';
        this.style.display = 'none';
    });
</script>