<h2>Billing for {{company}}</h2>

<table>
    <tr>
        <th>Invoice Number</th>
        <th>Client Name</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    {{#each data as |bill|}}
    <tr>
        <td>{{bill.invoice_number}}</td>
        <td>{{bill.client_name}}</td>
        <td>{{bill.date}}</td>
        <td>{{bill.amount}}</td>
    </tr>
    {{/each}}
</table>