<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="sidebar">
        <div id="company-profile">
            <img src="/images/{{company}}.png" alt="{{company}} Logo" id="company-logo">
        </div>

        <div id="user-profile">
            <img src="{{user.imageUrl}}" alt="User Profile Picture" id="profile-pic">
            <div id="user-name">{{user.firstName}} {{user.lastName}}</div>
        </div>

        <hr />
        <ul>
            <li><i class="bi-house-door"></i><a href="/">Home</a></li>
            <li><i class="bi-people"></i><a href="/users">Users</a></li>
            <li><i class="bi-file-bar-graph"></i><a href="/reports">Reports</a></li>
            <li><i class="bi-suitcase-lg"></i><a href="/admin">Admin</a></li>
            <li><i class="bi-currency-dollar"></i><a href="/sales">Sales</a></li>
            <li><i class="bi-card-list"></i><a href="/billing">Billing</a></li>
            <li><i class="bi-escape"></i><a href="{{logoutURL}}">Logout</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="menu-bar">
            <div class="left-menu">
                <!-- Other menu items here -->
            </div>
            <div class="user-profile">
                <img src="https://via.placeholder.com/50" alt="User profile" />
                User profile
            </div>
        </div>

        <div id="content-inner">
            {{{body}}}
        </div>

    </div>
</body>

<script>

/*
    This script adds a .selected class to the <li> element of the current page's link in the sidebar.
    It uses the window.location.pathname property to get the path part of the current page's URL.
    It then compares this path with the path of each link in the sidebar.
    If the paths match, the .selected class is added to the parent <li> element of the link.

*/
document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('#sidebar a');
    const currentPath = window.location.pathname; // Get the path part of the current page's URL
    console.log(currentPath);
    links.forEach(link => {
        const linkPath = link.pathname; // Get the path part of the link's URL
        console.log(linkPath);
        if (linkPath === currentPath) {
            link.parentElement.classList.add('selected'); // Add .selected class to parent <li> element
        }
    });
});
</script>

</html>