<h1>Reports for {{company}}</h1>


<table>
    <tr>
        <th>Report ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>File URL</th>
    </tr>
    {{#each data as |report|}}
    <tr>
        <td>{{report.report_id}}</td>
        <td>{{report.title}}</td>
        <td>{{report.date}}</td>
        <td>{{report.description}}</td>
        <td><a href="{{report.file_url}}" target="_blank">Download</a></td>
    </tr>
    {{/each}}
</table>


<button id="add-report" class="button-lg">+</button>

<div class="input-form" id="add-report-form" style="display: none;">
    <form id="reports" method="POST" action="/reports" enctype='multipart/form-data'>
        <h3>Add a new report</h3>
        <label for="id">Report ID</label>
        <input type="text" name="report_id" required maxlength="10" />
        <label for="title">Title</label>
        <input type="text" name="title" required maxlength="50" />
        <label for="date">Date</label>
        <input type="date" name="date" required />
        <label for="description">Description</label>
        <textarea name="description" required maxlength="255"></textarea>
        <label for="file_url">Report File</label>
        <input type="file" name="file_report" required />
        <button class="button-lg" type="submit">Add Report</button>
    </form>
</div>


<script>
    document.getElementById('add-report').addEventListener('click', function() {
        document.getElementById('add-report-form').style.display = 'block';
        this.style.display = 'none';
    });
</script>