<h1>Sales for {{company}}</h1>



<!-- create a sales table -->
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    {{#each data as |sale|}}
    <tr>
        <td>{{sale.product}}</td>
        <td class="right-align">{{sale.price}}</td>
        <td class="right-align">{{sale.quantity}}</td>
        <td class="right-align">{{sale.total}}</td>
    </tr>
    {{/each}}
</table>


<button id="add-sale" class="button-lg">+</button>

<div class="input-form" id="add-sale-form" style="display: none;">
    <form id="sales" method="POST" action="/sales">
        <h3>Add a new sale</h3>
        <label for="product">Product</label>
        <input type="text" name="product" required maxlength="50" />
        <label for="price">Price</label>
        <input type="number" name="price" required min="0" step="0.01" />
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" required min="1" />
        <button class="button-lg" type="submit">Add Sale</button>
    </form>
</div>

<script>
    document.getElementById('add-sale').addEventListener('click', function() {
        document.getElementById('add-sale-form').style.display = 'block';
        this.style.display = 'none';
    });
</script>