<h1>Users for {{company}}</h1>

<form id="users" method="POST" action="/users">

    <table>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Permissions</th>
        </tr>
        {{#each data as |user userIndex|}}
        <tr>
            <td><img class="profile-pic" src={{user.imageUrl}} /></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
                <input type="hidden" name="users[{{userIndex}}][userId]" value="{{user.id}}" />
                <ul class="user-permissions">
                    {{#each user.permissions as |perm permIndex|}}
                    <li>
                        <input type="hidden" name="users[{{userIndex}}][permissions][{{permIndex}}][permissionId]"
                            value="{{perm.permission.id}}" />
                        <input type ="hidden" name="users[{{userIndex}}][permissions][{{permIndex}}][permissionName]"
                            value="{{perm.permission.name}}"/>
                        <input type="checkbox" value="true" name="users[{{userIndex}}][permissions][{{permIndex}}][hasPermission]"
                            {{#if perm.hasPermission}} checked {{/if}}/>
                        <label>{{perm.permission.name}}</label>
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        {{/each}}
    </table>

    <button class="button-lg" type="submit">Save</button>

</form>